body {
  font-family: "Poppins", sans-serif;
  background-color: #272044;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 200px 0;
  color: white;
  text-align: center;
  max-width: 100%;
}

header h1 {
  font-size: 76px;
  font-weight: 700;
  margin: 20px 0;
  line-height: 1.5;
}

header h2 {
  line-height: 1.5;
  font-size: 35px;
  font-weight: 400;
  margin: 0px;
}

header h3 {
  line-height: 1;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background-color: white;
  color: #272044;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  border-radius: 1px;
  line-height: 1.5;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

main .grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.cards-section {
  background-color: #f8f8f8dd;
}

.text-center {
  text-align: center;
}

.grid-3-equal-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 100%;
}

.card {
  background-color: white;
  margin-top: 30px;
}

.img-card {
  max-width: 70%;
  height: auto;
  display: block;
}

.text-card {
  padding: 32px;
}

.button {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

footer .grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

@media (max-width: 960px) {
  header {
    padding: 80px;
  }

  header h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 10px;
    padding: 10px 20px;
  }

  section {
    padding: 30px;
  }

  main .grid-2-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  main .img-responsive {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  section h3 {
    font-size: 37px;
  }

  .grid-3-equal-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    width: 100%;
  }

  footer .grid-3-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
